.git
.github
vendor
node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
public_bk.zip
public_bk_20230527215429.zip
quanlythucung.sql
zip_public.sh
